<div class="container mt-5">
    <form action="/" enctype="multipart/form-data" method="post">
        <label class="form-label" for="">Titulo</label>
        <input class="form-control" type="text" name="title" placeholder="Title" id="title">
        <br>
        <br>
        <label class="form-label" for="price">Precio</label>
        <input class="form-control" type="number" name="price" placeholder="Price" id="price">
        <br>
        <br>
        <label class="form-label" for="img">Imagen</label>
        <input class="form-control" type="text" name="thumbnail" placeholder="Thumbnail" id="img">
        <br>
        <br>
        <button type="submit" class="btn btn-success">Guardar</button>    
    </form>
</div>
<br>
<br>
<div class="container mt-5">
    <a class="btn btn-primary" href="/api/productos">Ir a productos</a>
</div>